@import "../../__app__head-style-and-script/css/main.scss";

.subpage {
  position: fixed;
  left: 100%;
  width: 100%;
  bottom: 0;
  z-index: 20;
  flex-grow: 1;
  transition: all .3s ease-out;
  display: flex;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
   //убрать потом, сделанно для отображение с панелькой телефонов
  background-color: $white;

  &--opened {
    //height: calc(100vh - 56px);
    height: 100vh;
    left: 0;
    background-color: $white;
  }

  &--opened--bottom-bar {
    left: 0;
    height: 100vh;
    background-color: $white;
  }

  &__content {

    &--page--cards {
      display: flex;
      flex-direction: column;
    }

    &--indentation {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
      padding: 80px 16px 24px;
    }
  }

  &__tab-content {
  }
}
