*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
  font-weight: inherit;
  border-radius: 0;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a{
  color: black;
  text-decoration: underline;
}

html{
  font-family: 'SF UI Display', 'SF UI Text', 'Helvetica', Arial, sans-serif;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
  font-family: 'SF UI Display', 'SF UI Text', 'Helvetica', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: -.01em;
  -webkit-font-smoothing: antialiased;
}


