@import "../../__app__head-style-and-script/css/main.scss";

.container {
  border: 1px solid whitesmoke;
  padding: 20px 16px;
  border-radius: 4px;
}

.input {
  position: relative;
}

.input__area {
  border: none;
  border-bottom: 1px solid $gainsboroGray;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 0.5rem;
  padding-right: 80px;
  @extend %style-4;

  &--access {
    border-color: $seaGreen;
  }

  &--error {
    border-color: $alizarinCrimson;
  }

  &--disabled {
    color: $lightGrey;
  }

  &:focus {
    outline: none;
  }
}

.input__label {
  position: absolute;
  top: 27px;
  left: 0;
  line-height: 147.6%;
  color: $black;
  transition: top .2s;
  @extend %style-4;
  font-weight: normal;

  &--access {
    color: $seaGreen;
  }

  &--error {
    color: $alizarinCrimson;
  }

  &--disabled {
    color: $lightGrey;
  }

}

.input__icon-container {
  position: absolute;
  top: 26px;
  right: 0;
  display: flex;
  flex-direction: row;
}

.input__icon {
  top: 26px;
  right: 0;
}

.input__helper {
  @extend %style-6;
  color: $black;
  top: 0;
  left: 0;
  display: flex;

  &--access {
    color: $seaGreen;
  }

  &--error {
    color: $black;
  }
}

.input__helper-icon {
  margin-right: 10px;

  &--access {

  }

  &--error {

  }
}

.input--focused {
  @extend %style-6;
  top: 10px;
  color: $gray;
}


