@import "../../__app__head-style-and-script/css/main.scss";

.banners {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.banner__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;

  //touch-action: none; // нужно расскомментировать когда вертикальный скролл будет сделан на js
  &--with-animation {
    transition: transform .3s ease;
  }

}

.banners__text {
  @extend %style-6;
  font-weight: bold;
  display: block;
  text-align: center;
}

.banners__banner {

  position: relative;
  flex-shrink: 0;

  &---type--circle {
    width: 136px;
    padding-left: 13px;;
  }

  &--type--rectangle {
    width: 75vw;
    padding-left: 16px;
  }

}

.banners__banner-filler {
  background: #e6551e;

  &---type--circle {
    border-radius: 50%;
    padding-bottom: 100%;
    margin-bottom: 10px;
  }

  &--type--rectangle {
    border-radius: 6px;

    padding-bottom: 57%;
  }
}
