{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "globals": {

  },
  "rules": {
    "no-unused-vars": "off",
    "no-param-reassign": 0,
    "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],
    "max-classes-per-file": ["error", 20]
  }
}

