@import "../../__app__head-style-and-script/css/main.scss";

.top-bar {
  width: 100%;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  min-height: 200px;

  &--theme--dark {
    background-color: $bokaraGrey;
    color: $white;
  }

  &__select-container {
    display: flex;
    justify-content: space-between;
  }

  &__select-item {
    @extend %style-4;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 0 20px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    &--size--small {
      width: auto;
      margin-left: 30px;
    }

    &--theme--dark {
      background-color: $bokaraGrey;
      color: $white;
    }
  }

  &__content-container {
    padding: 50px 16px 0 16px;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    margin-bottom: 16px;
    grid-template-areas: 'back text search';
  }

  &__text {
    @extend %style-5;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &--position--center {
      text-align: center;
    }
  }

  &__info {
    color: $gray;
    @extend %style-8;
    text-transform: none;
  }

  &__title {
    @extend %style-1;
    margin: 0 0 10px;
  }

  &__header-title {
    @extend %style-3;
    margin: 0;
    text-align: center;
  }

  &__subtitle {
    @extend %style-5;
    margin: 0 0 10px;
  }

  &__nav-container {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
    margin-bottom: 16px;
  }

  &__button {
    border: none;
    padding: 0;
    display: flex;
    align-items: center;

    &--position--right {
      justify-self: flex-end;
    }

    &--theme--dark {
      background-color: $bokaraGrey;
    }
  }

  &__back-button {
    grid-area: back;
    justify-self: flex-start;
    padding: 0;
  }

  &__search-button {
    justify-self: flex-end;
    grid-area: search;
    padding: 0;
  }

  &__icon-text {
    padding-left: 10px;
    white-space: nowrap;
    grid-area: text;
  }

  &__tab-container {
    display: flex;
  }

  &__tab {
    padding: 14px 16px;
    border: none;
    outline: none;
    color: $gray;

    &--active {
      border-bottom: 3px solid $orange;
      color: $black;
    }

    &:active {
      background: $gray-dim;
    }

  }
}