@import "../../__app__head-style-and-script/css/main.scss";

.container {
  border: 1px solid whitesmoke;
  padding: 20px 16px;
  border-radius: 4px;
}

.input {
  position: relative;
}

.input__area {
  border-bottom: 1px solid;
  border-color: $gainsboroGray;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 0.5rem;
  padding-right: 80px;
  @extend %style-4;

  &:focus + .input__label {
    top: 10px;
    color: $gray;
    @extend %style-6;
  }
  &:hover + .input__label {
    top: 10px;
    color: $gray;
    @extend %style-6;
  }
  &:active + .input__label {
    top: 10px;
    color: $gray;
    @extend %style-6;
  }

  & ~ .input__requirements {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;
  }

  &:hover ~ .input__requirements,
  &:focus ~ .input__requirements,
  &:active ~ .input__requirements {
    max-height: 1000px;
    transition: max-height 1s ease-in;
  }

  &:valid {
    border-color: $seaGreen;
  }

  &--invalid {
    border-color: $alizarinCrimson;
  }

  &--disabled {
    color: $lightGrey;
  }

  &:focus {
    outline: none;
  }
}

.input__label {
  position: absolute;
  top: 27px;
  left: 0;
  line-height: 147.6%;
  color: $black;
  transition: top .2s;
  @extend %style-4;
  font-weight: normal;

  &--disabled {
    color: $lightGrey;
  }

}

.input__icon-container {
  position: absolute;
  top: 26px;
  right: 0;
  display: flex;
  flex-direction: row;
}

.input__icon {
  top: 26px;
  right: 0;
}

.input__helper-icon {
  margin-right: 10px;
}

.input--focused {
  @extend %style-6;
  top: 10px;
  color: $gray;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  height: 82vh;
  position: relative;

  &__fieldset {
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin-top: 34px;
    align-self: flex-end;
    height: auto;

    &--type--sign-in {
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
  }
}

.input__requirements {
  list-style-type: none;
  font-size: 1.3rem;
  font-style: italic;
  text-align: left;
  list-style-position: inside;
  max-width: 400px;
  margin: 10px auto 0;
}

.input__requirement {
  @extend %style-6;

  &--invalid {
    color: $alizarinCrimson;

    &:before {
      display: inline-block;
      transform: translateY(1px);
      margin-right: 10px;
      content: url("[+chunkWebPath+]/img/icon-no.svg");
    }
  }

  &--valid {
    color: $seaGreen;

    &:before {
      display: inline-block;
      transform: translateY(1px);
      margin-right: 10px;
      content: url("[+chunkWebPath+]/img/icon-yes.svg");
    }
  }
}



