.body {
  overflow: hidden;
}

.main-page {


  &--fixed {
    position: fixed;
  }

  &__content {
    display: flex;
    flex-direction: column;


    &--size--small {
      min-height: calc(100vh - 78px);
    }
  }

}

