@import "../../__app__head-style-and-script/css/main.scss";

.container {
  border: 1px solid whitesmoke;
  padding: 20px 16px;
  border-radius: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  height: 82vh;
  position: relative;

  &__fieldset {
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin-top: 34px;
    align-self: flex-end;

    &--type--sign-in.button {
      position: absolute;
      bottom: 16px;
      right: 16px;
      width: auto;
    }
  }


  .form__input {
    position: relative;
  }

  .form__input-area {
    border-bottom: 1px solid;
    border-color: $gainsboroGray;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 0.5rem;
    padding-right: 80px;
    @extend %style-4;

    &:focus + .form__input-label {
      top: 10px;
      color: $gray;
      @extend %style-6;
    }

    &:hover + .form__input-label {
      top: 10px;
      color: $gray;
      @extend %style-6;
    }

    &:active + .form__input-label {
      top: 10px;
      color: $gray;
      @extend %style-6;
    }

    & ~ .form__input-requirements {
      overflow: hidden;
      max-height: 0;
      transition: max-height 1s ease-out;
    }

    &:hover ~ .form__input-requirements,
    &:focus ~ .form__input-requirements,
    &:active ~ .form__input-requirements {
      max-height: 1000px;
      transition: max-height 1s ease-in;
    }

    &--valid {
      border-color: $seaGreen;
    }

    &--invalid {
      border-color: $alizarinCrimson;
    }

    &--disabled {
      color: $lightGrey;
    }

    &:focus {
      outline: none;
    }
  }

  .form__input-label {
    position: absolute;
    top: 27px;
    left: 0;
    line-height: 147.6%;
    color: $black;
    transition: top .2s;
    @extend %style-4;
    font-weight: normal;

    &--disabled {
      color: $lightGrey;
    }

  }

  .form__input-icon-container {
    position: absolute;
    top: 26px;
    right: 0;
    display: flex;
    flex-direction: row;
  }

  .form__input-icon {
    top: 26px;
    right: 0;
  }

  .form__input-helper-icon {
    margin-right: 10px;
  }

  .form__input-icon-error {
    display: none;

    &--visible {
      display: block;
    }
  }

  .form__input--focused {
    @extend %style-6;
    top: 10px;
    color: $gray;
  }

}

.form__input-requirements {
  list-style-type: none;
  font-size: 1.3rem;
  font-style: italic;
  text-align: left;
  list-style-position: inside;
  max-width: 400px;
  margin: 10px auto 0;
}

.form__input-requirement {
  @extend %style-6;

  &--invalid {
    color: $alizarinCrimson;

    &:before {
      display: inline-block;
      transform: translateY(1px);
      margin-right: 10px;
      content: url("[+chunkWebPath+]/img/icon-no.svg");
    }
  }

  &--valid {
    color: $seaGreen;

    &:before {
      display: inline-block;
      transform: translateY(1px);
      margin-right: 10px;
      content: url("[+chunkWebPath+]/img/icon-yes.svg");
    }
  }
}



