@import "../../_ui-kit/css/main";

.catalog{
  padding: 16px;
  overflow: hidden;
  &__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #909090;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 16px;
  }
  &__tags{
    .swiper-container{
      padding: 16px 0 32px;
    }
    &-container{

    }
    &-element{
      //opacity: .12;
      position: relative;
      border-radius: 16px;
      border: 1px solid rgba(#35302B,.12);
      background-color: transparent;
      padding: 7px 12px;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      overflow: hidden;
      height: 32px;
      transition: all .3s ease-in-out;
      &::after{
        display: block;
        position: absolute;
        content: "";
        top: 50%;
        width: 18px;
        height: 18px;
        right: -18px;
        transform: translateY(-50%);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("[+chunkWebPath+]/img/tag-close.svg");
        transition: all .3s ease-in-out;
      }
      &--selected{
        color: white;
        border: 1px solid #35302B;
        background-color: #35302B;
        padding-right: 32px;
        opacity: 1;
        &::after{
          right: 8px;
        }
      }
    }
  }
  &__categories{
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #170701;
    display: flex;
    justify-content: left;
    align-items: center;
    &-element{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 52px;
      white-space: nowrap;
      &-image {
        margin-bottom: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 52px;
        background-color: #efefef;
        border-radius: 50%;
      }
      &--active{
        & > .catalog__categories-element-image{
          background-color: $color;
          box-shadow: 0px 4px 4px rgba(255, 106, 50, 0.24);
          & > svg{
            -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
          }
        }
      }
      &--search{
        & > .catalog__categories-element-image{
          background-color: #35302B;
        }
      }
    }
  }
  &__list{
    display: none;
    &--show{
      display: block;
    }
    &-element{
      display: grid;
      grid-gap: 16px;
      grid-template-columns: auto 1fr;
      margin-bottom: 16px;
      &-title{
        display: grid;
        grid-gap: 30px;
        font-size: 16px;
        line-height: 18.96px;
        grid-template-columns: 1fr 1fr;
      }
      &-additional{
        display: flex;
        color: #909090;
        font-size: 16px;
        line-height: 18.96px;
        justify-content: space-between;
        flex-direction: row;
        padding: 14px 0;
        align-items: center;
      }
      &-price{
        font-weight: 500;
        text-align: end;
      }
      &-detail{
        border-bottom: 1px solid #EFEFEF;
      }
      &-image{
        width: 76px;
        height: 76px;
        border-radius: 50%;
        padding-bottom: 76px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("[+chunkWebPath+]/img/WbZesfqwR-A.png");
      }
      &--ended{
        position: relative;
        &:before{
          display: block;
          content: "";
          position: absolute;
          z-index: 1;
          left: (76px - 24px);
          width: 24px;
          height: 24px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
          background-image: url("[+chunkWebPath+]/img/clock.svg");
        }
        .catalog__list-element-image{
          filter: grayscale(1);
        }
        .catalog__list-element-detail{
          filter: grayscale(1);
          opacity: .38;
        }
      }
    }
  }
  &__stickers{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    &-element{
      width: 24px;
      height: 24px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      &--hit{
        background-image: url("[+chunkWebPath+]/img/star.svg");
      }
      &--clock{
        background-image: url("[+chunkWebPath+]/img/clock.svg");
      }
      &--warning{
        background-image: url("[+chunkWebPath+]/img/warning.svg");
      }
    }
  }
}