@import "../../_ui-kit/css/main";

.balance{
  padding: 16px;
  &__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #909090;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 24px;
  }
  &__date{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #919191;
  }
  &__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__currency{
    font-size: 32px;
    line-height: 37.92px;
    font-weight: 500;
  }
  &__bonus{
    font-size: 18px;
    line-height: 21.33px;
    letter-spacing: .25px;
  }
  &__image{
    margin-bottom: 30px;
    margin-top: 28px;
    background-size: contain;
    width: 100%;
    padding-bottom: 178px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("[+chunkWebPath+]/img/balance.svg");
  }
  &__container{
    display: none;
    &--show{
      display: block;
    }
  }
  &__history{
    padding-top: 20px;
    &-title{
      height: 48px;
      font-weight: 500;
      display: flex;
      align-items: center;
      font-size: 18px;
      line-height: 21px;
      position: relative;
    }
    &-section{
      &-group{
        height: 48px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #919191;
        position: relative;
        display: flex;
        align-items: center;
        &:after{
          content: "";
          display: block;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("[+chunkWebPath+]/img/arrow-up.svg");
          width: 12px;
          height: 8px;
          position: absolute;
          right: 0;
          top: 50%;
          transition: all .3s ease-in-out;
          transform: translateY(-50%) scaleY(-1);
        }
      }
      &--opened{
        .balance__history-section-group{
          &:after{
            transform: translateY(-50%) scaleY(1);
          }
        }
      }
      &-list{
        max-height: 0;
        overflow: hidden;
        transition: all .3s ease-in-out;
        margin: 0 -16px;
      }
    }
    &-transaction{
      display: grid;
      grid-template-columns: auto auto;
      height: 48px;
      padding: 0 16px;
      align-items: center;
      justify-content: space-between;
      &:nth-child(odd){
        background-color: #FAFAFA;
      }
      &-date{
        font-size: 16px;
        line-height: 19px;
        color: #B7B7B7;
      }
      &-value{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        &--up{
          color: #0FAF1F;
        }
        &--down{
          color: #AF2C0F;
        }
      }
    }
  }
}