@import "../../__app__head-style-and-script/css/main.scss";

.top-bar-search {
  width: 100%;
  border-bottom: 1px solid $gainsboroGray;
  border-top: 1px solid $gainsboroGray;
  padding: 16px 16px 7px;

  &__input-area.input__area {
    @extend %style-1;
    padding: 15px 0 0;
  }

  &__info {
    @extend %style-8;
    color: $gray;
  }

  &__input {
    margin-bottom: 34px;
  }

  &__icon {

    &--type--delete {
      display: flex;
      position: absolute;
      right: 0;
      top: 5px;
      padding: 20px 0 20px 40px;
    }
  }
}
