@import "../../__app__head-style-and-script/css/main.scss";

.third-page {
  position: fixed;
  left: 100%;
  width: 100%;
  bottom: 0;
  z-index: 30;
  background-color: $pattensBlue;
  flex-grow: 1;
  transition: all .3s ease-out;
  display: flex;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
  height: calc(100vh - 78px);

  &--opened--bottom-bar {
    left: 0;
    height: calc(100vh - 132px);
  }

  &--opened--addins {
    left: 0;
    height: calc(100vh - 132px);
    overflow-x: hidden;
    overflow-y: hidden;
  }

  &--opened {

    left: 0;
  }

  &__content {

    &--page--cards {
      display: flex;
      flex-direction: column;
    }
  }
}
