@import "../../__app__head-style-and-script/css/main.scss";

.bottom-bar {
  width: 100%;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  background-color: $bokaraGrey;
  color: $white;
  display: flex;
  justify-content: space-between;


  &--indentation--normal {
    padding: 0 5px 0 0;
  }

  &__select-container {
    padding: 0 0 7px 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }

  &__select-item {
    @extend %style-4;
    display: flex;
    align-items: center;
    max-width: 216px;
    justify-content: space-between;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: $bokaraGrey;
    color: $white;
    position: relative;
    padding-bottom: 3px;

    &--size--small {
      width: auto;
      margin-left: 30px;
      border: 0;
      align-self: center;
      border-radius: 50px;
      padding: 11px;
    }

    &--size--normal {
      padding-bottom: 4px;
    }
  }

  &__icon-popup {
    transition: opacity 0.3s;
    opacity: 0;
    position: absolute;
    top: 11px;
    right: 11px;
    transform: translate(22px, -82px);

    &--open {
      opacity: 1;
    }
  }

  &__header {
    background-color: $birch;
    min-height: 44px;
    align-items: center;
    justify-content: space-between;
    display: none;
    width: 100%;
    padding: 0 16px;

    &--open {
      display: flex;
    }
  }

  &__header-title {
    @extend %style-4;
  }

  &__info {
    display: block;
    color: $SuvaGrey;
    @extend %style-8;
    font-weight: normal;
    text-transform: none;
    padding: 9px 0 0;
  }

  &__icon {

    &--type--basket {
      fill: transparent;
      stroke: $gray;
      stroke-width: 2px;
    }

    &--full {
      fill: $orange;
      stroke: transparent;
    }
  }

  &__counter {
    position: absolute;
    bottom: 14px;
    right: 23px;
  }
}