@import "../../__app__head-style-and-script/css/main.scss";

.checkbox {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  min-height: 25px;
  @extend %style-6;


  &--type--single {
    max-width: 65px;
  }

  &__input {
    display: flex;
    opacity: 0;
    height: 0;
    width: 0;
  }

  &__checkmark {
    position: relative;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid $brown;
    border-radius: 8px;
    margin-right: 1em;

    &:after {
      content: "";
      position: absolute;
      top: 3px;
      left: 4px;
      display: block;
      width: 15px;
      height: 15px;
      background-image: url("data:image/svg+xml;base64,[[run-snippet? &snippetName='file-to-base64' &file=[+chunkWebPath+]/img/icon-checkbox.svg]]");
      background-position: center;
      background-size: cover;
    }
  }
}

.checkbox__input:checked ~ .checkbox__checkmark {
  background-color: $brown;
}


