@import "../../__app__head-style-and-script/css/main.scss";

.checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 12px;
  min-height: 25px;
  cursor: pointer;
  user-select: none;
  @extend %style-4;
  align-items: center;

  &__input {
    display: flex;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: 1px solid $brown;
    border-radius: 8px;
    margin-right: 1em;

    &:after {
      content: "";
      position: absolute;
      display: block;
      background-image: url("[+chunkWebPath+]/img/icon-checkbox.svg");
      background-position: center;
      background-size: cover;
      width: 15px;
      height: 15px;
      top: 3px;
      left: 4px;
    }
  }
}



.checkbox__input:checked ~ .checkbox__checkmark {
  background-color: $brown;
}


