@font-face {
  font-family: 'Rubik';
  src: url('./assets/chunks/nmk/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}@font-face {
  font-family: 'Rubik';
  src: url('./assets/chunks/nmk/fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}@font-face {
  font-family: 'Rubik';
  src: url('./assets/chunks/nmk/fonts/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}@font-face {
  font-family: 'Rubik';
  src: url('./assets/chunks/nmk/fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
