$orange: #E6551E;
$brown: #906848;
$alizarinCrimson: #d62b1f;
$seaGreen: #219653;
$sun: #eadb24;
$bokaraGrey: #2E2925;
$gainsboroGray: #D9D9D9;
$gray: #787878;
$whiteSmoke: #F7F7F7;
$black: #000000;
$white: #FFFFFF;
$cinderella: #F4D7CC;
$orange-dim: #EC8660;
$lightGrey: #D1D1D1;
$whitelight: #EEEEEF;
$birch: #3E3B34;
$nero: #141414;
$SuvaGrey: #939393;
$pattensBlue: #D8DCDE;
$dimGray: #6B6B6B;
$whisper: #E5E5E5;
$ghostWhite: #F1F1F2;
$dodgerBlue: #2F80ED;

%style-1 {
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 34px;
  letter-spacing: 0.02em;
}

%style-2 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}

%style-3 {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

%style-4 {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
}

%style-5 {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}

%style-6 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

%style-7 {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
}

%style-8 {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
