@import "../../__app__head-style-and-script/css/main.scss";

.main-card {
  transition: all 0.2s ease-out;
  position: relative;

  &--border--bottom {
    border-bottom: 1px solid $lightGrey;
  }

  &--hide {
    opacity: 0;
  }

  &--type--border {
    margin: 0 16px 20px;
  }

  &--indentation--top {
    margin-top: 20px;
  }

  &--theme--shadow {
    overflow: hidden;
    min-height: max-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }

  &__container-promo {

    &--indentation--top {
      padding-top: 280px;

      &--ios {
        padding-top: 305px;
      }
    }

  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    width: 100%;
    overflow: hidden;

    &:before {
      content: "";
      padding-bottom: 100%;
    }
  }

  &__content-img {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__content-title {
    @extend %style-3;
    color: $black;
    padding: 0 85px 12px 16px;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 55px 20px 20px 16px;
    z-index: 1;
  }

  &__img-container {
    position: relative;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: lightgray;
  }

  &__img {
    display: block;
    max-width: 6000px;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: lightgray;
    padding-top: 85%;
    /*position: absolute;
    top: 0;
    left: 0;*/

    &--size--small {
      padding-top: 55%;
    }

    &--theme--shadow {
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.22);
      border-radius: 12px;
    }
  }

  &__text-area {
    display: flex;
    flex-direction: column;
    padding: 20px 16px 20px;

    &--border--bottom {
      border-bottom: 1px solid $gainsboroGray;
    }
  }

  &__title {
    @extend %style-4;
    margin-bottom: 10px;

    &--indentation--top {
      margin-top: 20px;
    }

    &--font-weight--normal {
      font-weight: normal;
    }

  }

  &__text {

    &--size--big {
      @extend %style-4;
    }
  }

  &__button-container {
    display: flex;

    &--indentation--left {
      padding-left: 16px;
    }

    &--indentation--bottom {
      padding-bottom: 20px;
    }


  }

  &__info {
    @extend %style-8;

    &--theme--shadow {
      color: $dimGray;
    }

    &--out-of {
      position: absolute;
      top: 53px;
      left: -82px;
      transform: rotate(-46deg);
      @extend %style-4;
      color: $white;
    }

    &--have-litle {
      position: absolute;
      top: 74px;
      left: -92px;
      transform: rotate(-46deg);
      color: $black;
    }
  }


  &__button {
    width: 78px;

    &:first-child {
      margin-right: 16px;
    }
  }

  &__figure {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;

    &--size--big {
      border-left: 125px solid transparent;
    }

    &--size--normal {
      border-left: 100px solid transparent;
    }

    &--theme--sun {
      border-bottom: 125px solid $sun;
    }

    &--theme--blood {
      border-bottom: 100px solid $alizarinCrimson;
    }

    &--hide {
      display: none;
    }
  }
}
