@import "../../__app__head-style-and-script/css/main.scss";

.main-page {
  overflow-y: scroll;

  &--loaded {
    display: none;
  }

  &--size--small {
    display: flex;
    flex-direction: column;
    height: calc(100% - 56px);

  }

  &--type--search {
    display: flex;
    flex-direction: column;
    height: calc(100% - 56px);
    justify-content: space-between;
  }

}
