@import "../../__app__head-style-and-script/css/main.scss";

.modal-page-sign-in {
  position: fixed;
  top: 100%;
  width: 100%;
  left: 0;
  z-index: 150;
  flex-grow: 1;
  transition: all .3s ease-out;
  background-color: $white;
  display: flex;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;

  &--opened {
    top: 0;
  }


}
