@import "../../__app__head-style-and-script/css/main.scss";

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 20px;
  min-height: fit-content;

  &--size--medium {
    @extend %style-2;
  }

  &--theme--dark {
    background-color: $bokaraGrey;
  }

  &--indentation--top {
    padding-top: 20px;
  }


  &--indentation--top-big {
    padding-top: 30px;
  }

  &--indentation--bottom {
    margin-top: 20px;
  }

  &--indentation--bottom-small {
    padding-bottom: 10px;
  }


  &__title {

    &--size--medium {
      @extend %style-2;
    }

    &--size--medium-low {
      @extend %style-3;
      margin-bottom: 30px;
    }

    &--size--small {
      @extend %style-8;
    }

    &--size--small-big {
      @extend %style-5;
    }

    &--theme--shadow {
      color: $gray;
    }

  }

  &__text {
    @extend %style-5;

    &--theme--shadow {
      color: $lightGrey;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
  }

  &__button {
    @extend %style-5;
    color: $orange;
    font-weight: bold;
  }
}
