@import "../../_ui-kit/css/main";

.evaluation{
  &__smiles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: $g10;
  }
  &__msg{
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    margin: $g6/2 0 $g6 0;
    resize: none;
    font: normal 14px/1.5 -apple-system,BlinkMacSystemFont,"Droid Sans","Trebuchet MS",Arial,sans-serif;
    &:focus{
      border: 1px solid #ff6900;
    }
  }
  &__smile{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &-1{
      background-image: url("[+chunkWebPath+]/img/1.svg");
    }
    &-2{
      background-image: url("[+chunkWebPath+]/img/2.svg");
    }
    &-3{
      background-image: url("[+chunkWebPath+]/img/3.svg");
    }
    &-4{
      background-image: url("[+chunkWebPath+]/img/4.svg");
    }
    &-5{
      background-image: url("[+chunkWebPath+]/img/5.svg");
    }
    &--active{
      &.evaluation__smile-1{
        background-image: url("[+chunkWebPath+]/img/1-active.svg");
      }
      &.evaluation__smile-2{
        background-image: url("[+chunkWebPath+]/img/2-active.svg");
      }
      &.evaluation__smile-3{
        background-image: url("[+chunkWebPath+]/img/3-active.svg");
      }
      &.evaluation__smile-4{
        background-image: url("[+chunkWebPath+]/img/4-active.svg");
      }
      &.evaluation__smile-5{
        background-image: url("[+chunkWebPath+]/img/5-active.svg");
      }
    }
  }
}