@import "../../__app__head-style-and-script/css/main.scss";

.main-page::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.main-page {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

  &--loaded {
    display: none;
  }

  &--size--small {
    display: flex;
    flex-direction: column;
    height: calc(100% - 56px);

  }

  &--type--search {
    display: flex;
    flex-direction: column;
    height: calc(100% - 56px);
    justify-content: space-between;
  }

}

.main-page__content {
  position: fixed;
  left: 100%;
  width: 100%;
  bottom: 0;
  z-index: 3;
  background-color: $white;
  flex-grow: 1;
  transition: all .3s ease-out;
  //display: flex;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
  padding-top: 61px;
   //убрать потом, сделанно для отображение с панелькой телефонов

  &--opened {
    height: calc(100vh - 56px);
    left: 0;
  }

  &--opened--bottom-bar {
    left: 0;
    height: calc(100vh - 132px);
  }

  &--size--small {
    max-height: calc(100vh - 56px);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &--type--noscroll {
    overflow-y: hidden;
  }

  &--with--bottom-bar {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: calc(100vh - 132px);
  }
}

.main-page__tab-content {
  display: none;

  &--open {
    display: block;
  }
}
