@import "../../__app__head-style-and-script/css/main.scss";

.radio {
  position: relative;
  min-height: 23px;
  margin-bottom: 10px;
}

.radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.radio__label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;

  &--default {
    &:before {
      top: 0;
      left: 0;
    }

    &:after {
      top: 4px;
      left: 4px;
    }
  }

  &--disable {
    color: $dimGray;

    &:before {
      border: 2px solid $dimGray;
    }

    &:after {
      border: 2px solid $dimGray;
    }
  }

  &--available {
    &:before {
      border: 2px solid $brown;
    }

    &:after {
      background: $brown;
    }
  }

  &:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $white;
  }

  &:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: .2s;
  }
}

.radio__input:checked + .radio__label:after {
  opacity: 1;
}
