@import "../../index.scss";

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 30px;
  border: 1px solid whitesmoke;
  padding: 21px;
  border-radius: 4px;
}

.title {
  @extend %style-2;
  margin: 0;
}

.input {
  margin-bottom: 1.5rem;
  position: relative;
  width: 20.4375rem;
}

.input__area {
  border: none;
  border-bottom: 0.125rem solid $gainsboroGray;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 0.5rem;
  padding-right: 80px;
  @extend %style-4;

  &_access {
    border-color: $seaGreen;
  }

  &_error {
    border-color: $alizarinCrimson;
  }

  &_disabled {
    color: $gray-dim;
  }

  &:focus {
    outline: none;
  }

}

.input__label {
  position: absolute;
  top: 30px;
  left: 0;
  line-height: 147.6%;
  color: $black;
  transition: top .2s;
  @extend %style-4;

  &_access {
    color: $seaGreen;
  }

  &_error {
    color: $alizarinCrimson;
  }

  &_disabled {
    color: $gray-dim;
  }

}

.input__icon-container {
  position: absolute;
  top: 26px;
  right: 0;
  display: flex;
  flex-direction: row;
}

.input__icon {
  top: 26px;
  right: 0;
}

.input__helper {
  @extend %style-6;
  color: $black;
  top: 0;
  left: 0;
  display: flex;

  &_access {
    color: $seaGreen;
  }

  &_error {
    color: $black;
  }
}

.input__helper-icon {
  margin-right: 10px;
  &_access {

  }
  &_error {

  }
}

.input__area:focus + .input__label,
.input__area:valid + .input__label {
  @extend %style-6;
  margin-bottom: 32px;;
  top: 0;
}




