@import "../../__app__head-style-and-script/css/main.scss";

.map {
  width: 100%;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  padding: 12px 16px 0 16px;
  display: flex;
  justify-content: space-between;

  &__container {
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  &__content {
    display: flex;
  }

  &__title {
    @extend %style-5;
  }

  &__text {
    @extend %style-6;
  }

  &__radio-button {
    width: 80%;
  }
}