@import "../../__app__head-style-and-script/css/main.scss";

.map {
  width: 100%;
  display: none;
  flex-direction: column;
  transition: bottom ease-in 0.2s;

  &--show {
    display: flex;
  }

  &--hide {
    bottom: -75% !important;
  }


  &--type--search {
    height: 100%;
  }

  &--default {
    height: 82vh;
    position: fixed;
    bottom: 0;
    left: 0;

  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 12px 16px 250px 16px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    &--theme--light {
      background-color: $white;
    }

  }

  &__container-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  &__button {

    &--type--like {
      width: 24px;
      height: 24px;
      background-position: center center;
      background-repeat: no-repeat;
    }

    &--type--balloon {

      @media (max-width: 320px) {
      display: none;
      }
    }
  }

  &__icon {


    &--type--like {
      fill: $SuvaGrey;
    }

    &--liked {
      fill: $orange;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    min-height: fit-content;
    border-bottom: 1px solid $gainsboroGray;

    &--hide {
      display: none;
    }

    &--position--top {
      order: -1 !important;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    &--direction--column {
      flex-direction: column;
    }

    &--indentation--normal {
      padding: 17px 0 21px 35px;
      justify-content: start;
    }

    &--position--start {
      justify-content: start;
    }

    &--info {
      padding-left: 35px;
    }

    &--time {
      margin-bottom: 7px;
      display: grid;
      grid-template-columns: 80px 1fr;
      grid-gap: 16px;
    }
  }

  &__item-text {
    @extend %style-6;
    color: $SuvaGrey;
    padding-top: 5px;

    &--indentation--right {
      margin-right: 5px;
    }

    &--indentation--bottom {
      margin-bottom: 10px;

      @media (max-width: 320px) {
        margin-bottom: 40px;
      }
    }
  }

  &__radio-button {
    width: 80%;
  }

  &__radio-label {
    width: 95%;

    &:before {
      top: 3px;
      left: 0;
    }

    &:after {
      top: 8px;
      left: 5px;
    }
  }
}

#map .ymaps-2-1-77-gototech {
  display: none;
}
