@import "../../__app__head-style-and-script/css/main.scss";

.maps {
  height: 40vh;
  width: 100%;

  @media (max-width:374px) {
    min-height: 218px;
  }

  &__map {
    width: 100%;
    height: 100%;
  }
}
