@import "../../__app__head-style-and-script/css/main.scss";

.select-item {
  display: flex;
  margin: 0 16px 20px;

  &__img {
    max-height: 108px;
    height: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
  }

  &__choice-content {
    display: flex;
    flex-direction: column;
    width: 156px;
    padding: 0 16px;
    position: relative;
    z-index: 2;
  }

  &__button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid $gainsboroGray;
    background-color: transparent;
    padding-bottom: 7px;
  }

  &__info {
    display: block;
    color: $dimGray;
    @extend %style-6;
    padding-bottom: 7px;
  }

  &__button {
    @extend %style-4;
    font-weight: normal;
    position: relative;

    &:after {
      content: '';
      background: url("[+chunkWebPath+]/img/icon-ruble.svg") no-repeat;
      background-size: cover;
      position: absolute;
      right: -12px;
      top: 5px;
      width: 9px;
      height: 11px;
    }
  }

}

