@import "../../__app__head-style-and-script/css/main.scss";

.modal {
  display: flex;
  position: fixed;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s, visibility .2s;


  &--open {
    opacity: 1;
    visibility: visible;
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background: $white;
    max-height: 92%;
    width: calc(100% - 32px);
    padding: 28px 28px;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    z-index: 1;
  }

  &__title {
    @extend %style-2;
    margin: 0 0 17px;
  }

  &__text {


    &--theme--shadow {
      color: $dimGray;
    }

    &--size--big {
      @extend %style-5;
    }

    &--size--small {
      @extend %style-8;
    }

    &--size--normal {
      @extend %style-6;
    }

    &--indentation--small {
      margin-bottom: 5px;
    }

    &--indentation--normal {
      margin-bottom: 10px;
    }
    &--indentation--big {
      margin-bottom: 20px;
    }

  }

  &__img {
    margin-bottom: 10px;
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__button {

    &:first-child {
      margin-right: 16px;
    }

    &--indentation--top {
      margin-top: 20px;
    }
  }

  &__content {
    flex: 1;
  }

  &--open &__container {
    opacity: 1;
    transform: translateX(-50%);
  }

  &__button-container {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    margin-bottom: 2px;
  }

  &__checkbox {
    max-width: 130px;
    margin-bottom: 30px;
  }
}





