@import "../../_ui-kit/css/main";


.basket{
  padding: 16px;
  overflow: hidden;
  background-color: #fafafa;
  &__header{
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #909090;
    font-size: 14px;
    font-weight: 500;
    &--dark{
      color: black;
    }
  }
  &__payment{
    &-buttons{
      padding-top: 16px;
      display: flex;
      justify-content: flex-end;
    }
  }
  &__result{
    margin-top: 24px;
    margin-bottom: 16px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #909090;
    font-weight: 500;
    &-price{
      color: $color;
      font-weight: 700;
      font-size: 18px;
    }
  }
  &__offers{
    //display: none;
    //&--show{
    //  display: block;
    //}
    &-element{
      display: grid;
      grid-gap: 16px;
      grid-template-columns: auto 1fr;
      margin-bottom: 16px;
      &:first-child{
        padding-top: 16px;
      }
      &-title{
        display: grid;
        grid-gap: 30px;
        font-size: 16px;
        line-height: 18.96px;
        grid-template-columns: auto auto;
      }
      &-additional{
        display: flex;
        color: #909090;
        font-size: 16px;
        line-height: 18.96px;
        justify-content: space-between;
        flex-direction: row;
        padding: 14px 0;
        align-items: center;
        &-end{
          justify-content: flex-end;
          padding: 3px 0 12px 0;
        }
      }
      &-price{
        font-weight: 500;
        text-align: end;
      }
      &-detail{
        border-bottom: 1px solid #EFEFEF;
      }
      &-image{
        width: 76px;
        height: 76px;
        border-radius: 50%;
        padding-bottom: 76px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: grey;
      }
      &-count{
        display: flex;
        flex-direction: row;
        flex: 1 0 auto;
        justify-content: flex-end;
        align-items: center;
      }
      &-number{
        width: 58px;
        text-align: center;
        font-size: 16px;
        line-height: 19px;
      }
      &-change-btn{
        font-weight: 500;
        color: $color;
        font-size: 14px;
        line-height: 17px;
      }
      &-modifiers{
        &-title{
          margin-bottom: 11px;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
        }
        &-list{
          &-element{
            font-size: 13px;
            line-height: 15px;
            position: relative;
            padding-left: 14px;
            margin-bottom: 5px;
            &:before{
              content: "";
              display: block;
              position: absolute;
              left: 4px;
              top: 6px;
              border-radius: 50%;
              width: 4px;
              height: 4px;
              background-color: #909090;
            }
            color: #909090;
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: start;
          }
        }
      }
    }
  }

}


.button[type=submit]{
  width: 100%;
  height: 48px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.24);
  border-radius: 24px;
}